<html>
<head>
	<title> Home page </title>
	<style>
		*{	font-size:110%; font-family:Calibri; }
		body{ background-color:#99ffcc; }
		table{ text-align:center; }
	</style>
</head>
<body>
	<center>
		<h1> Home Page </h1>
		<a href="{{url_for('create')}}">Create Page</a>
		<br/>
		<table border="2">
		<tr>
		<th>Rno</th>
		<th>Name</th>
		<th>Marks</th>
		<th>Delete</th>
		</tr>
		{% for m in msg %}
		<tr>
			<td>{{m[0]}}</td>
			<td>{{m[1]}}</td>		
			<td>{{m[2]}}</td>
			<td><a href="{{url_for('delstu',id=m[0])}}" onclick="return confirm('r u sure???')">Delete</a></td>
		</tr>
		{% endfor %}
		</table>
	</center>
</body>
</html>